@import '/src/app/themes/themes.scss';


.add-task-form {

  display: flex;
  
  .left-side {
    box-sizing: border-box;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 16px;
  }

  .right-side {
    box-sizing: border-box;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
  }

  .buttons-mobile {
    display: none;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 32px;
  }
}


.new-category-field {
  position: relative;

  button {
    position: absolute;
    top: -34px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    mat-icon {
      border-radius: 50%;
    }

  }

  .add-new-category {
    background-color: $theme-color;
    color: #fff;

    &:hover {
      background-color: $theme-color-font;
    }
  }

  .close-new-category {
    border: 1px solid $theme-color;
    color: $theme-color;
    background-color: #fff;

    &:hover {
      border: 1px solid $theme-color-font;
      color: $theme-color-font;
    }    
  }


}

.new-category-option {
  font-style: italic;
  color: grey;
  background: rgb(241, 241, 241);
}


.add-subtask {
  cursor: pointer;
}

.subtask-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 32px;
  overflow-wrap: break-all;

  span {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
  }

  mat-icon {
    width: 14px;
    height: 14px;
    font-size: 16px;
    color: $theme-color;
    cursor: pointer;

    &:hover {
      color: $theme-color-font;
    }
  }
}

.single-subtask-margin {
  margin-left: 32px;
}

.button-line {
  display: flex;
  justify-content: flex-end;
  gap: 16px;

  button {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 48px;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    font-size: 21px;
    font-weight: 500;
    background-color: $theme-color;
    color: #fff;
    transition: 0.125s;
    cursor: pointer;

    &:hover {
      background-color: $theme-color-font;
      transition: 0.125s;
    }
  }

  .clear-form {
    border: 1px solid $theme-color;
    color: $theme-color;
    background: #fff;

    &:hover {
      border: 1px solid $theme-color-font;
      color: $theme-color-font;
      background-color: #fff;
    }
  }
}

//Validation
mat-form-field {
  position: relative;

  .alert {
    position: absolute;
    bottom: -22px;
    color: #F44336;
    font-size: 12px;
  }
}

@media (max-width: 599px) {
  .add-task-form {
    padding: 0px 30px;
    flex-direction: column;

    .left-side,
    .right-side {
      padding: unset;
    }

    .buttons-mobile {
      display: flex;
    }
  }


  .buttons-desktop {
    display: none;
  }

}

