.container {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 80px);
    padding: 80px;
    overflow: scroll;

    h1 {
        font-size: 60px;
        color: #0D0D0D;
        margin: unset;
      }
}