@import '/src/app/themes/themes.scss';

.container {
  position: relative;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 80px);
    padding: 40px 80px;
    overflow-y: scroll;
    color: $theme-color;
}

h1 {
  margin-bottom: 16px;
  font-size: 48px;
}

h2 {
  margin-bottom: 24px;
  font-size: 32px;
}



.go-back {
  position: absolute;
  top: 50px;
  right: 80px;
  font-size: 40px;
  transition: 0.125s;
  cursor: pointer;

  &:hover {
    color: grey;
    transition: 0.125s;
  }
}
