@import '/src/app/themes/themes.scss';

.container {
  position: relative;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 80px);
    padding: 80px;
    overflow-y: scroll;
    color: $theme-color;
}



.go-back {
  position: absolute;
  top: 80px;
  right: 80px;
  font-size: 40px;
  transition: 0.125s;
  cursor: pointer;

  &:hover {
    color: grey;
    transition: 0.125s;
  }
}
