//colors
$theme-color: #2A3647;
$theme-color-font: #29ABE2;

$prio-high-font: #c70000;
$prio-high-bg: #fff6f6;
$prio-middle-font: #b6721f;
$prio-middle-bg: #fff3e5;
$prio-low-font: #10a945;
$prio-low-bg: #e4ffee;

