<div class="container">
    <h2>Sign up</h2>
    <div class="divider"></div>
    <form action="">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" name="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" name="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" name="password">
        </mat-form-field>
        <div class="to-login">
            <p>Already registered?</p>
            <a routerLink="/login">Go to login</a>
        </div>
        <div class="button-line">
            <button class="login">Sign up</button>
        </div>
    </form>
</div>