@import '../../themes/themes.scss';



.container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  // overflow-y: scroll;
  // border: 1px solid green;
}

.address-book {
  box-sizing: border-box;
  min-width: 380px;
  height: 100%;
  border-right: 1px solid lightgray;
  background: rgb(238, 238, 238);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
} 

mat-card {
  cursor: pointer;
}

.card-pic {
  border: 3px solid #fff;
  box-shadow: 0 3px 5px rgba($color: #000000, $alpha: 0.1);
}


.mat-card-title {
  font-size: 16px;
  font-weight: 400;
  color: $theme-color;
}

.mat-card-subtitle {
  margin: unset;
  font-size: 14px;

  a {
    text-decoration: none;
  }
}

.contacts-display {
  position: relative;
  width: 100%;
  // border: 1px solid green;
  padding: 40px;

  .headline {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 100%;
    height: 64px;

    .divider {
      width: 4px; 
      height: 100%;
      background-color: $theme-color-font;
    }

    .subtitle {
      font-size: 27px;
    }
  }
}

.contact-details {
  // border: 1px solid green;
  margin-top: 64px;

  .close {
    font-size: 40px;
    cursor: pointer;
  }

  .main-profile {
    padding: 32px 0;
    display: flex;
    align-items: center;

    .contact-details-pic {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 5px solid #fff;
      margin-right: 32px;
      box-shadow: 0 3px 5px rgba($color: #000000, $alpha: 0.1);
    }

    div {
      font-size: 27px;

      span {
        font-size: 40px;
        color: $theme-color-font;
      }
    }
  }

  .contact-information {

 
    div {
      display: flex;
      gap: 16px;
      padding: 12px 0;

      span {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        &:hover {
          color: $theme-color-font;
        }
      }
    }

    h4 {
      padding: 32px 0 10px 0;
    }
  }
}


.add-contact {
  position: absolute;
  bottom: 40px;
  right: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 48px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  font-size: 21px;
  font-weight: 500;
  background-color: $theme-color;
  color: #fff;
  transition: 0.125s;
  cursor: pointer;

  &:hover {
    background-color: $theme-color-font;
    transition: 0.125s;
  }
}



