<div class="outer-container">
  <app-sidenav class="sidenav"></app-sidenav>
  <div class="main-content">
    <div class="toolbar">
      <span>Kanban Project Management Tool</span>
      <img class="help-img" src="assets/img/help_logo.svg" routerLink="/impress">
      <img class="profile-img" src="assets/img/profile_guest.png" [matMenuTriggerFor]="menu">
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/impress">Impress</button>
        <button mat-menu-item routerLink="/login" *ngIf="!this._authService.isLoggedIn">Login</button>
        <button mat-menu-item *ngIf="this._authService.isLoggedIn" (click)="_authService.SignOut()">Logout</button>
      </mat-menu>
    </div>
    <router-outlet class="outlet-container"></router-outlet>
  </div>
</div>