<div class="container">
  <div class="heading">
    <h1>Board</h1>
    <div class="interaction-box">
      <div class="input-box">
        <input type="text" placeholder="Search for...">
        <mat-icon>search</mat-icon>
      </div>
      <button>
        Add Task<mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="main-content">
    <div *ngFor="let level of levels; let i = index" class="task-column">
      <div class="column-head">
        <span>{{level}}</span>
        <mat-icon (click)="openDialog(i)">add</mat-icon>
      </div>
      <div class="column-content">
        <div *ngFor="let task of allTasks$ | async">
          <mat-card class="task-card" [class.d-none]="task.stage !== i" (click)="openDetailView(task)">
            <div class="card-header">
              <div class="task-due-date" [class.due-date-alert]="task.dueDateMilli - today < 0" >{{getDuedate(task.dueDateMilli) | date}} <br> 
                <span *ngIf="task.dueDateMilli - today < 0">( overdue ! )</span> 
              </div>
              <p class="task-category">{{task.category}}</p>
              <p class="task-title">{{task.title}}</p>
            </div>
            <div class="card-content">
              <p class="task-description">{{task.description}}</p>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
