@import '/src/app/themes/themes.scss';

.container {
  width: 600px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;

  .edit-box {
    display: flex;
    gap: 16px;

    span {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: unset;


      &:hover {
        color: $theme-color-font;
      }
    }
  }
}


.task-category {
  font-size: 18px;
  font-weight: 300;
}

.task-title {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 16px;
}

.task-due-date {
  font-size: 14px;
  // font-style: italic;
  color: grey;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  line-height: 20px;
}


.card-content {


  .task-description {
    font-size: 16px;
    padding-bottom: 32px;
  }
}

.card-subline {
  margin-top: 16px;
  padding-bottom: 8px;

  .listings {
    display: flex;
    margin-bottom: 24px;
  }

  .assignments,
  .subtasks {

    width: 50%;

    ul {
      margin: unset;
    }

    span {
      display: flex;
      align-items: center;
      color: $theme-color-font;
    }

    .subtask-list {
      display: flex;
      flex-direction: column;
    }
  }
}

.divider {
  height: 2px;
  width: 100%;
  background-color: rgb(236, 236, 236);
}

.due-date-alert {
  color: rgb(199, 0, 0) !important;
  font-weight: 600 !important;
}

h4 {
  font-weight: 500;
  margin: 4px 0;

  span {
    font-weight: 400;
    color: grey;
  }
}

.prio-high {
  display: inline-block;
  background: $prio-high-bg;
  color: $prio-high-font !important;
  font-weight: 600;
  border: 1px solid $prio-high-font;
  border-radius: 4px;
  padding: 2px 4px;
}

.prio-middle {
  display: inline-block;
  background: $prio-middle-bg;
  color: $prio-middle-font !important;
  font-weight: 600;
  border: 1px solid $prio-middle-font;
  border-radius: 4px;
  padding: 2px 4px;
}

.prio-low {
  display: inline-block;
  background: $prio-low-bg;
  color: $prio-low-font !important;
  font-weight: 600;
  border: 1px solid $prio-low-font;
  border-radius: 4px;
  padding: 2px 4px;
}