<div class="container">
  <div class="card-header">
    <p class="task-category">{{currTask.category}}</p>
    <div class="edit-box">
      <span matTooltip="edit Task"><mat-icon (click)="openEditDialog(currTask)">edit</mat-icon></span>
      <span matTooltip="delete Task"><mat-icon (click)="openDeleteDialog(currTask)">delete_outlined</mat-icon></span>
      <span matTooltip="close Task"><mat-icon mat-dialog-close>close</mat-icon></span>
    </div>
  </div>
  <div class="card-content">
    <p class="task-title">{{currTask.title}}</p>
    <p class="task-description">{{currTask.description}}</p>
    <div class="divider"></div>
  </div>
  <div class="card-subline">
    <div class="listings">
      <div class="assignments">
        <h4>Assigned to:</h4>
        <span *ngFor="let person of currTask.assignments"><mat-icon>arrow_right</mat-icon> {{person.firstName}} {{person.lastName}}</span>
      </div>
      <div class="subtasks">
        <h4>Subtasks:</h4>
        <div class="subtask-list">
          <span class="single-subtask-margin" *ngFor="let sub of currTask.subTasks; let i = index"> <mat-icon>arrow_right</mat-icon> {{sub}}</span>
        </div>
      </div>
    </div>
    <h4>Created at: <span> {{getDate(currTask.creationDateMilli) | date}}</span></h4>
    <h4>Due date: 
      <span *ngIf="currTask.dueDateMilli != 0" [class.due-date-alert]="currTask.dueDateMilli - today < 0"> {{getDate(currTask.dueDateMilli) | date}}</span>
      <span *ngIf="currTask.dueDateMilli === 0">[no Due Date]</span>
      <p  class="due-date-alert" *ngIf="currTask.dueDateMilli - today < 0 && currTask.dueDateMilli != 0"><span> ( overdue ! )</span> </p> 
    </h4>
    <h4>Priority: <span [ngClass]="getPrioClass(currTask.priority)"> {{currTask.priority}}</span></h4>
  </div>
</div>
