<div class="container">
    <h2>Reset password</h2>
    <div class="divider"></div>
    <p>Did you forget your password? <br>
    Please enter your e-mail address.</p>

    <form action="">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" [disabled]="loading" matInput placeholder="email" #passwordResetEmail required>
        </mat-form-field>
        <div class="to-login">
            <a routerLink="/login">Back to login</a>
        </div>
        <div class="button-line">
            <button class="signup" routerLink="/reset-success" [disabled]="loading" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset password</button>
        </div>
    </form>
</div>