<div class="container">
  <div class="summary-title-bar">
    <h1>Summary</h1>
    <span class="divider"></span>
    <span class="subtitle">Everything in a nutshell !</span>
  </div>
  <div class="main-content">
    <div class="grid-container">
      <div class="tasks-on-board grid-card" routerLink="/board">
        <span class="counter">{{(allTasks$ | async)?.length }}</span>
        <p>Tasks on Board</p>
      </div>
      <div class="tasks-in-progress grid-card"  routerLink="/board">
        <span class="counter">{{(tasksStage1$ | async)?.length}}</span>
        <p>Tasks in Progress</p>
      </div>
      <div class="tasks-awaiting-feedback grid-card"  routerLink="/board">
        <span class="counter">{{(tasksStage2$ | async)?.length}}</span>
        <p>Awaiting Feedback</p>
      </div>
      <div class="tasks-upcoming grid-card"  routerLink="/board">
        <div class="upcoming-count">
          <img src="assets/img/urgency-high.png" alt="">
          <div>
            <span class="counter-small">{{(urgentTasks$ | async)?.length}}</span>
            <p>Urgent</p>
          </div>
        </div>
        <span class="divider-grey"></span>
        <div class="upcoming-deadline">
          <p>Next Deadline</p>
          <div *ngFor="let task of closestDeadline$ | async | slice:0:2 ">
            <span  *ngIf="task.dueDateMilli != 0">{{_ds.getDate(task.dueDateMilli) | date}}</span>
          </div>
        </div>
      </div>
      <div class="tasks-todo grid-card"  routerLink="/board">
        <img src="assets/img/pen.png" alt="">
        <div>
          <span class="counter">{{(tasksStage0$ | async)?.length}}</span>
          <p>To-Do</p>
        </div>
      </div>
      <div class="tasks-done grid-card"  routerLink="/board">
        <img src="assets/img/ok.png" alt="">
        <div>
          <span class="counter">{{(tasksStage3$ | async)?.length}}</span>
          <p>Done</p>
        </div>
      </div>
    </div>
    <div class="greeting-box">
      <p class="daytime">Good {{_ds.getDaytime()}} <span *ngIf="userLoaded">, <br> {{loggedUser.displayName}}</span></p>
      <p class="greeting-phrase">Good to see you!</p>
    </div>
  </div>
</div>