<div class="container">
  <div class="summary-title-bar">
    <h1>Summary</h1>
    <span class="divider"></span>
    <span class="subtitle">Everything in a nutshell !</span>
  </div>
  <div class="main-content">
    <div class="grid-container">
      <div class="tasks-on-board grid-card">
        <span class="counter">4</span>
        <p>Tasks on Board</p>
      </div>
      <div class="tasks-in-progress grid-card">
        <span class="counter">1</span>
        <p>Tasks in Progress</p>
      </div>
      <div class="tasks-awaiting-feedback grid-card">
        <span class="counter">2</span>
        <p>Awaiting Feedback</p>
      </div>
      <div class="tasks-upcoming grid-card"></div>
      <div class="tasks-todo grid-card"></div>
      <div class="tasks-done grid-card"></div>
    </div>
    <div class="greeting-box">
      <p class="daytime">Good afternoon</p>
      <p class="greeting-phrase">Good to see you!</p>
    </div>
  </div>
</div>