@import '../../themes/themes.scss';

.container {
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 80px);
  padding: 40px 80px;
  overflow-y: scroll;

  .summary-title-bar {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 32px;
    width: 100%;
    height: 64px;
    margin-bottom: 60px;

    .divider {
      width: 4px; 
      height: 100%;
      background-color: $theme-color-font;
    }

    .subtitle {
      font-size: 27px;
    }
  }
}

.main-content {
  box-sizing: border-box;
  display: flex;


  .greeting-box {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;

    .daytime {
      font-size: 42px;
      font-weight: 600;
      color: $theme-color;
    }

    .greeting-phrase {
      font-size: 56px;
      font-weight: 600;
      color: $theme-color-font;
    }

    p {
      margin: unset;
      line-height: 56px;
    }
  }
}

//GRID LAYOUT

.grid-container {  
  max-width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  // grid-template-rows: 1fr 1fr 1fr;
  gap: 16px 16px;
  grid-auto-flow: row;
  grid-template-areas:
    "tasks-on-board tasks-on-board tasks-in-progress tasks-in-progress tasks-awaiting-feedback tasks-awaiting-feedback"
    "tasks-upcoming tasks-upcoming tasks-upcoming tasks-upcoming tasks-upcoming tasks-upcoming"
    "tasks-todo tasks-todo tasks-todo tasks-done tasks-done tasks-done";
}

.tasks-on-board { grid-area: tasks-on-board; }

.tasks-in-progress { grid-area: tasks-in-progress; }

.tasks-awaiting-feedback { grid-area: tasks-awaiting-feedback; }

.tasks-upcoming { grid-area: tasks-upcoming; }

.tasks-todo { grid-area: tasks-todo; }

.tasks-done { grid-area: tasks-done; }

.grid-card {
  border-radius: 16px;;
  align-items: center;
  text-align: center;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.3);
  transition: 0.125s;
  cursor: pointer;

  &:hover {
    background-color: $theme-color;
    color: #fff;
    box-shadow: 0 6px 12px rgba($color: #000000, $alpha: 0.6);
    transition: 0.125s;
  }

  .counter {
    font-size: 56px;
    font-weight: 600;
  }

  p {
    font-size: 21px;
    margin: unset;
  }

  img {
    width: 60px;
    height: 60px;
    padding-right: 16px;
  }
}

.tasks-upcoming {
  display: flex;
  justify-content: center;
  gap: 16px;

  p {
   font-size: 16px; 
  }
}

.upcoming-count {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  span {
    font-size: 40px;
    font-weight: 600;
  }

}

.divider-grey {
  width: 4px;
  height: 80px;
  background-color: lightgray;
}

.upcoming-deadline {
  display: flex;
  flex-direction: column;
  flex: 1;

  span {
    font-weight: 700;
    font-size: 21px;
  }
}

.tasks-todo,
.tasks-done {
  display: flex;
  justify-content: center;

  div {
    text-align: center;
  }
}


@media (max-width: 1240px) {
  .main-content {
    flex-direction: column-reverse;
    gap: 32px;

    .greeting-box {
      padding: unset !important;
  
      .daytime {
        font-size: 42px;
      }

      .greeting-phrase {
        font-size: 52px;
      }
    }
  }

  .grid-container {
    max-width: unset;
  }
}

@media (max-width: 920px) {  

  .container {
    padding: 40px;

    .summary-title-bar {
      .subtitle {
        font-size: 22px;
      }
    }
  }

  .main-content {
    .grid-container {
      .grid-card {
        .counter {
          font-size: 48px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 740px) {  
  .subtitle,
  .divider {
    display: none;
  }

  .main-content {
    .greeting-box {

      .daytime {
        font-size: 32px;
      }
  
      .greeting-phrase {
        font-size: 48px;
      }
    }

    .grid-container {
      grid-template-columns: 1fr 1fr ;
      grid-template-areas: 
      "tasks-on-board tasks-on-board" 
      "tasks-in-progress tasks-in-progress" 
      "tasks-awaiting-feedback tasks-awaiting-feedback"
      "tasks-upcoming tasks-upcoming"
       "tasks-todo tasks-done";
    }
  }

  .grid-card {
    img {
      width: 40px;
      height: 40px;
      padding-right: 8px;
    }

    padding: 12px;
  }
}

@media (max-width: 620px) {  

  .grid-card {
    img {
      width: 30px;
      height: 30px;
    }
  }

  .main-content {
    .grid-container {
      .grid-card {
        .counter {
          font-size: 40px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
}



@media (max-width: 530px) {  
  .container {
    height: auto;
    .greeting-box {
      display: none;
    }
  }
}