@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600;800&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Inter', sans-serif}

h1 {
  font-size: 60px;
  color: #0D0D0D;
  margin: unset;
}