@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600;800&display=swap');
@import '/src/app/themes/themes.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #F5F5F5 }


h1 {
  font-size: 64px;
  font-weight: 600;
  color: $theme-color;
  margin: unset;
}

h2 {
  font-size: 48px;
  font-weight: 500;
  margin: unset;
}

h3 {
  font-size: 22px;
  font-weight: 400;
  margin: unset;
}

h4 {
  margin: unset;
}

a {
  color: $theme-color-font;
}

p {
  margin: unset;
}
.mb-32 {
  margin-bottom: 64px;
}

.mb-64 {
  margin-bottom: 64px;
}

.d-none {
  display: none;
}


@media (max-width: 890px) {
  
  h1 {
    font-size: 48px;
  }
}